.mainContainer{
  width: 100%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  min-height: 400px;
  -webkit-box-shadow: 10px 20px 15px -5px rgba(0,0,0,0.13);
  -moz-box-shadow: 10px 20px 15px -5px rgba(0,0,0,0.13);
  box-shadow: 10px 20px 15px -5px rgba(0,0,0,0.13);
}

.paperContainer{
  font-family: 'Muli', sans-serif;
  width: 70%;
  min-width: 800px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
}

.jobContainer{
  background-color: white;
  min-height: 400px;
  width: 70%;
  padding: 1em;
  min-width: 800px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  -webkit-box-shadow: 10px 20px 15px -5px rgba(0,0,0,0.13);
  -moz-box-shadow: 10px 20px 15px -5px rgba(0,0,0,0.13);
  box-shadow: 10px 20px 15px -5px rgba(0,0,0,0.13);
}

li{
  font-family: 'Muli', sans-serif;
}

h3, h4, p{
  font-family: 'Muli', sans-serif;
  margin: .5em;
  margin-left: 0em;
}

h1, h2{
  font-family: 'Philosopher', sans-serif;
  margin: .5em;
  margin-left: 0em;

}

.descriptionHeader{
  min-width: 600px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px #B3E5FC solid;

}

.descriptionHeader h1{
  text-align: center;
}

.descriptionContent{
  min-width: 600px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.jobsTab{
  background-color: #03A9F4;
  color: white;
}
.projectsTab{
  background-color: #F44336;
  color: white;

}

.jobsTab a{
  color: white;
  text-decoration: none;
}

.projectsTab a{
  color: white;
  text-decoration: none;
}

.jobH1{
  color: #03A9F4;
}

.projectH1{
  color: #F44336;
}

.activeTab{
  padding-right: .5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 6em;
  height: 2em;
  left: 0px;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
}

.inactiveTab{
  padding-right: .5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 6em;
  height: .5em;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  -webkit-box-shadow: inset -8px -58px 14px -59px rgba(0,0,0,0.42);
  -moz-box-shadow: inset -8px -58px 14px -59px rgba(0,0,0,0.42);
  box-shadow: inset -8px -58px 14px -59px rgba(0,0,0,0.42);
}

.inactiveTab a{
  opacity: 0.5;
}

.inactiveTab a:hover{
  opacity: 1;
}

.jobLink a{
  text-decoration: none;
  color: #0288D1;
}

.jobLink a:hover{
  color: #B3E5FC;
}

.addNew{
  color: black;
  text-decoration: none;
}

.copyRight{
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: white;
  font-family: 'Muli', sans-serif;
}
